# Created by venv; see https://docs.python.org/3/library/venv.html
*
.plantilla
.__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
*.sqlite3
*.log
config.py
.env
.venv
venv/
venv.bak/
pycache/
*.py[cod]