<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <title>{% block Titulo %}Echoes of Valve{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/img/Jockey.png">
</head>
<body>

    <header>
        <h1>Echoes of Valve</h1>
        {% block header %}{% endblock %}
    </header>

    <nav>
        <a href="/">Inicio</a>
        {% if not user_authenticated %}
            <a href="/login">Login</a>
            <a href="/register">Registro</a>
        {% else %}
            <a href="/logout">Cerrar Sesión</a>
        {% endif %}
    </nav>

    <main>
        {% if show_aside %}
        <aside>
            <div id="menuAside">
                <a href="#half-life">Half-Life</a>
                <a href="#cs">Counter-Strike</a>
                <a href="#portal">Portal</a>
                <a href="#tf2">Team Fortress 2</a>
                {% if user_authenticated %}
                    <a href="#l4d">Left 4 Dead</a>
                    <a href="#dota2">Dota 2</a>
                    <a href="#alyx">Half-Life: Alyx</a>
                {% endif %}
            </div>
        </aside>
        {% endif %}

        <div>
            {% block content %}
            <!-- Aquí va tu contenido principal -->
            {% endblock %}
        </div>
    </main>

    <footer>
        &copy; 2025 Blog | Hecho por Sarduño, Lalocura, Sergey y Neto  
        {% block footer %}{% endblock %}
    </footer>

</body>
</html>
