body{
    background-color: chocolate;
    color: rgb(255, 255, 255);

    /*Ordenamiento basado en fLEX-BOX */
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
    border: 2px solid white;
}

main {
    background-color: brown;
    border: 2px solid gold;

    display: flex;
    flex-direction: row;
}

footer {
    background-color: aqua;
    border: 2px solid chartreuse;
}

article{
    background-color: aquamarine;
    border: 5px black solid;

    border-radius: .5em;
    padding: 1em;
}

article header{
    background-color: cadetblue;
    color: black;
}

article footer{
    width: 100%;
    height: auto;
}

article header h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: normal;
}

article p{
    background-color: azure;
    color: black;
    padding: .5em;

    font-style: normal;
}

article footer{
    background-color: violet;
    border: 2px yellow solid;
}



#menu{
    width: 20%;
}

#contenido{
    width: 80%;
}

